// @import "mixins/meyer-reset";
// @meyer-reset

@font-face {
    font-family: "04B";
    src: url('../fonts/04B_21__.TTF');
}

html {
    overflow: hidden;
    margin: 0;
    background-color: black;
    font-family: "04B", Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 18px;
    line-height: 20px;
    color: #eee;
}

a {
    text-decoration: none;
}
svg text {
    fill: #eee;
}

h1 {
    font-size: 30pt;

    small {
        font-size: .5em;
    }
}

.btn {
    color:black;
    background-color: #FFF;
    padding: 10px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    padding-bottom: 15px;
}

#main {
    width: 100%;
    position : absolute;

    .gamer {
        margin: 200px auto;
        display: block;
        text-align: center;
    }
}

.instructions {
    font-size: .6em;
    text-decoration: blink; 
    animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}
@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}

.player {
    margin:0;
    padding: 0;
    height:100%;
    min-height: calc( 50vh + 200px );
    position: relative; 
    width : 49%;
    svg{
        border: 2px dotted #eee;
        padding:0 ;
    }
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-device-width: 959px) {
    .player {
        width : 100%;
    }
    html {
        overflow: scroll;
    }
}

.left {
    float:left;
}
.right {
    float: left;
}

canvas {
    position : absolute;
    top : 0;
    left : 0;
    height: 100%;
    width: 100%;
}

#overlay {

    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1000;
    background: rgba(0,0,0,.7);

     #modal {

         width:300px;
         margin: 100px auto;
         background-color: rgba(0,0,0,.8);
         border:1px solid rgba(255,255,255,.8);
         padding:35px;
         text-align:center;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        
        #modalTitle {

        }

        #modalText {

        }

        .close {
            background: rgba(0,0,0,.8);
            color: #FFF;
            line-height: 25px;
            font-weight: bold;

            float: right;

            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            border-radius: 12px;

            // -moz-box-shadow: 1px 1px 3px #000;
            // -webkit-box-shadow: 1px 1px 3px #000;
            // box-shadow: 1px 1px 3px #000;

            &:hover {
                background: white;
            }
        }
    }
}

